#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #2e2e5a;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 2.3rem;
  background-color: rgb(189, 183, 210);
  border-radius: 20px;
}

.toggle-item {
  width: 12rem;
  background-color: #4545cf;
  border-radius: 20px;
  padding: 0.2rem;
  margin: 0.2rem;
}

@media (width <= 768px) {
  #root h1 {
    font-size: 2rem;
  }
}

@media (width >= 769px) {
  #root h1 {
    font-size: 4rem;
  }
}
