#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #2e2e5a;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 1.9rem;
  background-color: rgb(189, 183, 210);
  border-radius: 20px;
}

.toggle-item {
  font-size: 0.8rem;
  font-weight: 600;
  width: 12rem;
  height: 1.5rem;
  background-color: #4545cf;
  border-radius: 20px;
  padding: 0.2rem;
  margin: 0.2rem;
  padding-bottom: 1.3rem;
}

.app-form {
  background-color: #686690;
  height: 30rem;
  width: 90%;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  #root h1 {
    font-size: 2rem;
  }
}

@media (width >= 769px) {
  #root h1 {
    font-size: 4rem;
  }
}
