#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
  background-color: #2e2e5a;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 1.9rem;
  background-color: rgb(189, 183, 210);
  border-radius: 20px;
}

.toggle-item {
  font-size: 0.8rem;
  font-weight: 600;
  width: 12rem;
  height: 1.5rem;
  border-radius: 20px;
  padding: 0.2rem;
  margin: 0.2rem;
  padding-bottom: 1.3rem;
  border: none;
}

.toggle-item.inactive {
  background-color: transparent;
  color: white;
}

.toggle-item.active {
  background-color: #4545cf;
  color: white;
  border: none;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #686690;
  height: 40rem;
  width: 100%;
  border-radius: 20px;
  margin-top: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424152;
  border-radius: 20px;
  padding: 0.7rem;
  height: 3.3rem;
  width: 95%;
  max-width: 30rem;
  margin: 0.3rem;
  font-weight: 700;
}

.form-group label {
  font-size: 0.8rem;
  color: rgb(186, 181, 191);
  text-align: left;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.form-group select,
.form-group input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem;
  outline: none;
  color: rgb(227, 225, 229);
}

.form-group select {
  width: 8rem;
}

.form-group input {
  width: 4rem;
}

#sex,
#ethnicity {
  width: 98%;
}

.form-group span {
  color: black;
}

.demographic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 0.3rem;
}

.form-textbox {
  height: 16rem;
  width: 100%;
  max-width: 60rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(224, 221, 234);
  padding: 1rem;
  font-size: 90%;
  color: black;
  line-height: 1rem;
  font-weight: 400;
}

.form-textbox:focus {
  outline: none;
}

.clear-button {
  background-color: transparent;
  text-decoration: underline;
  font-size: 90%;
  font-weight: 700;
}

.footer {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 0.8rem;
  font-size: 80%;
}

@media (width <= 768px) {
  #root h1 {
    font-size: 2rem;
  }
}

@media (width >= 769px) {
  #root h1 {
    font-size: 4rem;
  }
}
