.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 0.5rem;
  position: relative;
  right: 3.2rem;
  bottom: 0.2rem;
}

.date-picker-input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: rgb(238, 234, 243);
  outline: none;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__input-container input {
  border: none;
  background-color: #4a4964;
  padding: 0.5rem;
  color: rgb(238, 234, 243);
  width: 55%;
  height: 1.5rem;
  font-weight: 600;
}

.react-datepicker {
  font-size: 0.9rem;
  background-color: #686690;
  color: white;
  border-radius: 10px;
  border: 1px solid #4a4964;
}

.react-datepicker__day:hover {
  background-color: #4545cf;
  color: white;
}
