.left-arrow {
  margin-right: 0.3rem;
}

.chat-textbox-container {
  width: 95%;
  height: 3.5rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: height 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.chat-textbox {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 1rem;
  background-color: rgb(242, 241, 247);
  color: rgb(53, 51, 57);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1rem;
  overflow: hidden;
  resize: none;
  transition: height 0.3s ease-in-out;
}

.chat-textbox:focus {
  outline: none;
  height: 8rem;
}

.chat-textbox-container:has(.chat-textbox:focus) {
  bottom: 5rem;
}

.send-button-container {
  position: fixed;
  bottom: 2rem;
  right: 0;
  font-size: 0.8rem;
}

.send-button {
  height: 3rem;
  width: 2rem;
  font-size: 1.25rem;
  background-color: transparent;
  color: #4545cf;
  position: relative;
  bottom: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.send-button:hover {
  color: #1d1d21;
}

.send-button:focus {
  color: #4545cf;
}

.send-button svg {
  cursor: pointer;
}

.send-button svg:active {
  transform: translateY(3px);
  transition: transform 0.1s ease-in-out;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem auto;
  height: 77vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.user-message {
  background-color: #4a4964;
  color: white;
  align-self: flex-end;
  padding: 0.7rem;
  border-radius: 1rem;
  max-width: 85%;
  text-align: left;
  font-size: 0.9rem;
  margin-left: auto;
}

.chatbot-message {
  background-color: rgb(242, 241, 247);
  color: rgb(53, 51, 57);
  align-self: flex-start;
  padding: 0.7rem;
  border-radius: 1rem;
  max-width: 95%;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

@media (width >= 700px) {
  .send-button-container {
    position: fixed;
    right: 1rem;
  }

  .send-button {
    font-size: 1.4rem;
  }
}

@media (width >= 1200px) {
  .send-button-container {
    position: fixed;
    right: 2rem;
  }

  .chat-messages {
    width: 60rem;
  }

  .user-message {
    max-width: 60%;
  }

  .chatbot-message {
    max-width: 80%;
  }
}

@media (width >= 2000px) {
  .send-button-container {
    position: fixed;
    right: 3rem;
  }
}
