.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 1.7rem;
  background-color: rgb(189, 183, 210);
  border-radius: 0.3rem;
  overflow: hidden;
}

.toggle-item {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  position: relative;
}

.toggle-item.inactive-toggle {
  background-color: transparent;
  color: white;
}

.toggle-item.active-toggle {
  background-color: #4545cf;
  color: white;
  border: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.left-arrow,
.right-arrow {
  font-size: 1rem;
  animation: pulse 1s infinite ease-in-out;
}

.toggle-item.active-toggle .right-arrow,
.toggle-item.active-toggle .left-arrow {
  display: none;
}

@media (width >=768px) {
  .toggle-container {
    width: 20.5rem;
    height: 1.8rem;
  }
}
